<div class="modal-header">
    <h3 class="modal-title" id="modal-title">预览效果</h3>
</div>
<div class="modal-body scenicSpot" id="modal-body" style="height: 600px;overflow-y: scroll">
    <div class="row">
        <div class="col-md-5">
            <div uib-carousel active="0" interval="3000" no-wrap="false">
                <div uib-slide ng-repeat="slide in ctrl.slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="height:280px;margin:auto;">
                </div>
            </div>
        </div>
        <div class="col-md-7" style="padding-left: 30px">
            <div class="pull-left">
                <h1 class="name" ng-bind="ctrl.scenicSpot.name"></h1>
                <h6 class="level">{{ctrl.scenicSpot.level}} | 100%好评</h6>
                <span class="address">景点地址：<span style="color: #777">{{ctrl.scenicSpot.address}}</span></span><br>
                <span class="types">游玩主题：
                    <span class="type" ng-style="{'backgroundColor':type.color}"
                          ng-repeat="type in ctrl.scenicSpot.types">{{type.type}}</span>
                </span>
                <span class="reason">推荐理由:</span>

                <p class="detail">
                    &nbsp;&nbsp;{{ctrl.scenicSpot.recommend}}
                </p>
            </div>
            <div class="price-area pull-right">
                网站价：{{ctrl.scenicSpot.nowPrice}}元/人<br>
                <span style="font-size: 10px">原价：{{ctrl.scenicSpot.originalPrice}}元/人</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" style="margin-top: 20px">
                <div class="panel-heading">
                    门票预定
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>门票名称</th>
                                    <th>原价价</th>
                                    <th>优惠价</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <th>{{ctrl.scenicSpot.name}}</th>
                                    <th>{{ctrl.scenicSpot.originalPrice}}元/人</th>
                                    <th style="color: orange">{{ctrl.scenicSpot.nowPrice}}元/人</th>
                                    <th><button class="btn btn-success">预定支付</button></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-12">
            <uib-tabset>
                <uib-tab index="0" heading="景点介绍">{{ctrl.scenicSpot.content}}</uib-tab>
                <uib-tab index="1" heading="景点图片">
                    <div style="float: left" ng-repeat="slide in ctrl.slides">
                        <img ng-src={{slide.image}}>
                    </div>
                </uib-tab>
                <!--select="ctrl.show(ctrl.scenicSpot.address)"-->
                <uib-tab index="2" heading="交通地图" select="ctrl.show(ctrl.scenicSpot.address)">
                    <div id="container" style="height: 400px;width: 80%;margin: 20px auto"></div>
                </uib-tab>
                <uib-tab index="3" heading="购票须知">Static content</uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
</div>