<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                系统用户管理
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" ng-click="ctrl.doAdd()">添&nbsp;&nbsp;加</button>
                            <button class="btn btn-primary" ng-click="ctrl.doDelete()">删&nbsp;&nbsp;除</button>
                        </div>
                        <div class="col-md-offset-3 col-md-3">
                            <div class="form-group input-group" style="float: right">
                                <input type="text" class="form-control" ng-model="ctrl.search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-center table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th rowspan="2"><input type="checkbox" ng-model="ctrl.checked" ng-change="ctrl.onCheck(value)"></th>
                                <th rowspan="2">编号</th>
                                <th rowspan="2">景区名称</th>
                                <th rowspan="2">景区等级</th>
                                <th rowspan="2">景区类型</th>
                                <th colspan="2">价格</th>
                                <th rowspan="2">操作</th>
                            </tr>
                            <tr>
                                <th>原价</th>
                                <th>会员价</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="scenicSpot in ctrl.scenicSpots | filter:ctrl.search">
                                <td><input type="checkbox" ng-model="scenicSpot.checked"></td>
                                <td>{{scenicSpot.id}}</td>
                                <td>{{scenicSpot.name}}</td>
                                <td>{{scenicSpot.level}}</td>
                                <td><span ng-repeat="type in scenicSpot.types">{{type.type}}&nbsp;</span></td>
                                <td>{{scenicSpot.originalPrice}}</td>
                                <td>{{scenicSpot.nowPrice}}</td>
                                <td>
                                    <button class="btn btn-info pull-left" ng-click="ctrl.look(scenicSpot)">详情预览</button>
                                    <button class="btn btn-warning pull-left" ng-click="ctrl.doGive()" style="margin-left: 20px;">查看位置</button>
                                    <button class="btn btn-danger" ng-click="ctrl.doEdit(user)" style="margin-left: 20px;">修改</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <pagination num-pages="1" current-page="1">
                    </pagination>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>