<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
    <ul class="pagination">
        <li ng-class="{disabled: noPrevious()}" class="paginate_button previous" aria-controls="dataTables-example">
            <a ng-click="selectPrevious()">前一页</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: isActive(page)}" class="paginate_button" aria-controls="dataTables-example">
            <a ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled: noNext()}" class="paginate_button next" aria-controls="dataTables-example">
            <a ng-click="selectNext()">下一页</a>
        </li>
    </ul>
</div>