<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                日志管理
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="input-group col-md-4 pull-left">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="ctrl.startTime" is-open="ctrl.popup1.opened" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="关闭" current-text="今天" clear-text="清除"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <div class="col-md-1 pull-left" style="text-align: center;line-height: 30px">
                                    —
                                </div>
                                <div class="input-group col-md-4 pull-left">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="ctrl.endTime" is-open="ctrl.popup2.opened" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="关闭" current-text="今天" clear-text="清除"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="ctrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success">筛选</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-3">
                            <div class="form-group input-group" style="float: right">
                                <input type="text" class="form-control" ng-model="ctrl.search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>系统用户ID</th>
                                <th>系统用户名称</th>
                                <th>操作内容</th>
                                <th>操作时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="log in ctrl.logs | filter:ctrl.search">
                                <td>{{log.systemUserId}}</td>
                                <td>{{log.systemUserName}}</td>
                                <td>{{log.logContent}}</td>
                                <td>{{log.logTime}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <pagination num-pages="1" current-page="1">
                    </pagination>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>